  <head>
    <title>todoapp</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/vendor/bootstrap4/dist/css/bootstrap.css' />
    <script src='/vendor/jquery/dist/jquery.js'></script>
    <script src='/vendor/underscore/underscore.js'></script>
    <script src='/javascripts/main.js'></script>
  </head>
