    <div class="alert alert-info alert-dismissible" role="alert" id="info_add_success" style="display:none;">
      追加しました。
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-error alert-dismissible" role="alert" id="error_add_faild" style="display:none;">
      追加に失敗しました。  
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible" role="alert" id="info_delete_success" style="display:none;">
      削除しました。
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-error alert-dismissible" role="alert" id="error_delete_faild" style="display:none;">
      削除に失敗しました。  
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" id="alert_empty_user" style="display:none;">
      ユーザーを入力してください。
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" id="alert_empty_task" style="display:none;">
      タスクを入力してください。
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
